.column {
    float: left;
    width: 25%;
    padding: 10px 10px 10px 10px;
    box-sizing: border-box;
  }

.card {
  text-align: center;
  background-color: rgba(153, 153, 153, 0.85);
  box-sizing: border-box;
  border-radius: 10px;
  border-style: solid;
  border-color: rgba(101, 101, 101, 0.85);
}

.card h4 {
  font-size: medium;
  margin: 10px 10px;
  font-size: large;
  border-style: solid;
  border-color: rgba(101, 101, 101, 0.85);
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}

.card > div {
  padding-bottom: 5px;
}

.card p {
  font-size: medium;
}